#catalogo {
    display: grid;
    margin: 0.25em;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}

@media only screen and (max-width: 500px){
    #catalogo{
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 250px){
    #catalogo{
        grid-template-columns: auto;
    }
}

.mascota-info{
    padding: 1em;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 248, 219);
}

.foto-michi{
    width: 100%;
    box-sizing: border-box;
}

.foto-michi img{
    width: 100%;
    border-radius: 50%;

}

.mascota-info h2{
    margin: 0px;
}

.mascota-info p{
    margin: 0px;
}